/*Fonts*/
/*font-family: 'Ribeye Marrow', cursive;*/
/*font-family: 'Quicksand', sans-serif;*/

/*p, label, textarea {font-family: 'Quicksand', sans-serif;}

h1, h2, h3, h4, h5, h6 {font-family: 'Ribeye Marrow', cursive;}

/*BODY*/
#indexpage {
  background-color: #21273f;
  color: #b7d8f1;
            }
.buffer {margin-left: 3em;}

/*HEADER*/
.headtop {
  margin-top: 3.5em;
        }

/*STANZAS*/
.stanza {
  margin-top: 2em;
        }

/*FOOTER*/
.footbot {
  margin-top: 1.5em;
  color: #2e3552;
  hover: white;
        }
