/*BODY*/
#indexpage {
  background-color: #21273f;
  color: #b7d8f1;
  font-family: 'Montserrat', sans-serif;}

h1 {
  font-family: 'Satisfy', cursive;
  font-size: 3em;
    }

.buffer {margin-left: 2em;}
.bbuffer {margin-left: 3.5em}
.hbuffer {margin-left: 11em;}

/*HEADER*/
.headtop {
  margin-top: 3.5em;
        }

/*STANZAS*/
.stanza {
  margin-top: 2em;
        }

/*FOOTER*/
.footbot {
  margin-top: 1.5em;
  color: #2e3552;
        }
.credhov:hover {color: #b7d8f1;}

/*HEART ANIM*/
.heart {
    width: 20px;
    height: 25px;
    background-image: url("../images/pixanim.png");
    -webkit-animation: heartplay 1.12s steps(10) infinite;
       -moz-animation: heartplay 1.12s steps(10) infinite;
        -ms-animation: heartplay 1.12s steps(10) infinite;
         -o-animation: heartplay 1.12s steps(10) infinite;
            animation: heartplay 1.12s steps(10) infinite;}
@-webkit-keyframes heartplay {
   from { background-position:    0px; }
     to { background-position: -200px; }
}
@-moz-keyframes heartplay    {
   from { background-position:    0px; }
     to { background-position: -200px; }
}
@-ms-keyframes heartplay     {
   from { background-position:    0px; }
     to { background-position: -200px; }
}
@-o-keyframes heartplay      {
   from { background-position:    0px; }
     to { background-position: -200px; }
}
@keyframes heartplay         {
   from { background-position:    0px; }
     to { background-position: -200px; }
}

/*STARS ANIM*/
.starrynight {
  color: lightyellow;
	position: absolute;
	            }
.starry>span:nth-child(1) {-webkit-animation: orbiting_01 500s linear infinite normal, glow   1s alternate infinite;}
.starry>span:nth-child(2) {-webkit-animation: orbiting_02 500s linear infinite normal, glow 2.5s alternate infinite;}
.starry>span:nth-child(3) {-webkit-animation: orbiting_03 500s linear infinite normal, glow   2s alternate infinite;}
.starry>span:nth-child(4) {-webkit-animation: orbiting_04 500s linear infinite normal, glow 1.5s alternate infinite;}
.starry>span:nth-child(5) {-webkit-animation: orbiting_05 500s linear infinite normal, glow   1s alternate infinite;}
.starry>span:nth-child(6) {-webkit-animation: orbiting_06 500s linear infinite normal, glow   1s alternate infinite;}
.starry>span:nth-child(7) {-webkit-animation: orbiting_07 500s linear infinite normal, glow 2.5s alternate infinite;}
.starry>span:nth-child(8) {-webkit-animation: orbiting_08 500s linear infinite normal, glow   2s alternate infinite;}
.starry>span:nth-child(9) {-webkit-animation: orbiting_09 500s linear infinite normal, glow   1s alternate infinite;}
.starry>span:nth-child(10){-webkit-animation: orbiting_10 500s linear infinite normal, glow 1.5s alternate infinite;}
.starry>span:nth-child(11){-webkit-animation: orbiting_11 500s linear infinite normal, glow   2s alternate infinite;}
.starry>span:nth-child(12){-webkit-animation: orbiting_12 500s linear infinite normal, glow   1s alternate infinite;}
.starry>span:nth-child(13){-webkit-animation: orbiting_13 500s linear infinite normal, glow   2s alternate infinite;}
.starry>span:nth-child(14){-webkit-animation: orbiting_14 500s linear infinite normal, glow 1.5s alternate infinite;}
@-webkit-keyframes orbiting_01 {
   0%{        top:    2%;
              left:  25%; }
   75%{       top:    2%;
              left:  99%; }
   75.001%{   top:    2%;
              left:   1%; }
  100%{       top:    2%;
              left:  25%; }
  }
@-webkit-keyframes orbiting_02 {
   0%{        top:    8%;
              left:  55%; }
   45%{       top:    8%;
              left:  99%; }
   45.001%{   top:    8%;
              left:   1%; }
  100%{       top:    8%;
              left:  55%; }
  }
@-webkit-keyframes orbiting_03 {
   0%{        top:   15%;
              left:  10%; }
   90%{       top:   15%;
              left:  99%; }
   90.001%{   top:   15%;
              left:   1%; }
  100%{       top:   15%;
              left:  10%; }
  }
@-webkit-keyframes orbiting_04 {
   0%{        top:   20%;
              left:  75%; }
   25%{       top:   20%;
              left:  99%; }
   25.001%{   top:   20%;
              left:   1%; }
  100%{       top:   20%;
              left:  75%; }
  }
@-webkit-keyframes orbiting_05 {
   0%{        top:   29%;
              left:  40%; }
   60%{       top:   29%;
              left:  99%; }
   60.001%{   top:   29%;
              left:   1%; }
  100%{       top:   29%;
              left:  40%; }
  }
@-webkit-keyframes orbiting_06 {
   0%{        top:   36%;
              left:  15%; }
   85%{       top:   36%;
              left:  99%; }
   85.001%{   top:   36%;
              left:   1%; }
  100%{       top:   36%;
              left:  15%; }
  }
@-webkit-keyframes orbiting_07 {
   0%{        top:   41%;
              left:  88%; }
   12%{       top:   41%;
              left:  99%; }
   12.001%{   top:   41%;
              left:   1%; }
  100%{       top:   41%;
              left:  88%; }
  }
@-webkit-keyframes orbiting_08 {
   0%{        top:   47%;
              left:  35%; }
   65%{       top:   47%;
              left:  99%; }
   65.001%{   top:   47%;
              left:   1%; }
  100%{       top:   47%;
              left:  35%; }
  }
@-webkit-keyframes orbiting_09 {
   0%{        top:   51%;
              left:  59%; }
   41%{       top:   51%;
              left:  99%; }
   41.001%{   top:   51%;
              left:   1%; }
  100%{       top:   51%;
              left:  59%; }
  }
@-webkit-keyframes orbiting_10 {
   0%{        top:   57%;
              left:  25%; }
   75%{       top:   57%;
              left:  99%; }
   75.001%{   top:   57%;
              left:   1%; }
  100%{       top:   57%;
              left:  25%; }
  }
@-webkit-keyframes orbiting_11 {
   0%{        top:   64%;
              left:  71%; }
   29%{       top:   64%;
              left:  99%; }
   29.001%{   top:   64%;
              left:   1%; }
  100%{       top:   64%;
              left:  71%; }
  }
@-webkit-keyframes orbiting_12 {
   0%{        top:   76%;
              left:  45%; }
   55%{       top:   76%;
              left:  99%; }
   55.001%{   top:   76%;
              left:   1%; }
  100%{       top:   76%;
              left:  45%; }
  }
@-webkit-keyframes orbiting_13 {
   0%{        top:   84%;
              left:  30%; }
   70%{       top:   84%;
              left:  99%; }
   70.001%{   top:   84%;
              left:   1%; }
  100%{       top:   84%;
              left:  30%; }
  }
@-webkit-keyframes orbiting_14 {
   0%{        top:   91%;
              left:  84%; }
   16%{       top:   91%;
              left:  99%; }
   16.001%{   top:   91%;
              left:   1%; }
  100%{       top:   91%;
              left:  84%; }
  }
@-webkit-keyframes glow {
  from  {text-shadow: 0 0 5px lightyellow; }
  to    {text-shadow: 0 0 21px lightyellow; }
      }

/*WORD PULSE*/
.wordglow>p>span:nth-child(1)  {-webkit-animation: pulse 2s alternate infinite;
                              /*animation-delay: 0s;*/
                            }
.wordglow>p>span:nth-child(2)  {-webkit-animation: pulse 2s alternate infinite;
                              /*animation-delay: 1s;*/
                            }
.wordglow>p>span:nth-child(3)  {-webkit-animation: pulse 2s alternate infinite;
                              /*animation-delay: 2s;*/
                            }
.wordglow>p>span:nth-child(4)  {-webkit-animation: pulse 2s alternate infinite;
                              /*animation-delay: 3s;*/
                            }
.wordglow>p>span:nth-child(5)  {-webkit-animation: pulse 2s alternate infinite;
                              /*animation-delay: 4s;*/
                            }
.wordglow>p>span:nth-child(6)  {-webkit-animation: pulse 2s alternate infinite;
                              /*animation-delay: 5s;*/
                            }
.wordglow>p>span:nth-child(7)  {-webkit-animation: pulse 2s alternate infinite;
                              /*animation-delay: 6s;*/
                            }
.wordglow>p>span:nth-child(8)  {-webkit-animation: pulse 2s alternate infinite;
                              /*animation-delay: 7s;*/
                            }
.wordglow>p>span:nth-child(9)  {-webkit-animation: pulse 2s alternate infinite;
                              /*animation-delay: 8s;*/
                            }
.wordglow>p>span:nth-child(10) {-webkit-animation: pulse 2s alternate infinite;
                              /*-webkit-animation-delay: 9s;*/
                            }
.wordglow>p>span:nth-child(11) {-webkit-animation: pulse 2s alternate infinite;
                              /*-webkit-animation-delay: 10s;*/
                            }
.wordglow>p>span:nth-child(12) {-webkit-animation: pulse 2s alternate infinite;
                              /*-webkit-animation-delay: 11s;*/
                            }
.wordglow>p>span:nth-child(13) {-webkit-animation: pulse 2s alternate infinite;
                              /*-webkit-animation-delay: 12s;*/
                            }






@-webkit-keyframes pulse {
    0%  {text-shadow: 0 0 0px lightyellow; }
  100%   {text-shadow: 0 0 21px lightyellow; }
      }
