/*BODY*/
#indexpage {
  background-color: #21273f;
  color: #b7d8f1;
  font-family: 'Montserrat', sans-serif;}

h1 {
  font-family: 'Satisfy', cursive;
  font-size: 3em;
    }

.buffer {margin-left: 2em;}
.bbuffer {margin-left: 3.5em}
.hbuffer {margin-left: 11em;}

/*HEADER*/
.headtop {
  margin-top: 3.5em;
        }

/*STANZAS*/
.stanza {
  margin-top: 2em;
        }

/*FOOTER*/
.footbot {
  margin-top: 1.5em;
  color: #2e3552;
        }
.credhov:hover {color: #b7d8f1;}

/*HEART ANIM*/
.heart {
    width: 20px;
    height: 25px;
    background-image: url("../images/pixanim.png");
    -webkit-animation: play .8s steps(10) infinite;
       -moz-animation: play .8s steps(10) infinite;
        -ms-animation: play .8s steps(10) infinite;
         -o-animation: play .8s steps(10) infinite;
            animation: play .8s steps(10) infinite;}
@-webkit-keyframes play {
   from { background-position:    0px; }
     to { background-position: -200px; }
      }
@-moz-keyframes play {
   from { background-position:    0px; }
     to { background-position: -200px; }
      }
@-ms-keyframes play {
   from { background-position:    0px; }
     to { background-position: -200px; }
      }
@-o-keyframes play {
   from { background-position:    0px; }
     to { background-position: -200px; }
      }
@keyframes play {
   from { background-position:    0px; }
     to { background-position: -200px; }
      }
